@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(to top, #fab520,#30eeff);
}
h1,h2{
  font-family:  "Prompt", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
h3,h4,h5,h6,p,a,li,tr,th,input{
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.ht_btn{
  padding: 5px 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  align-content: center;
  transition: all 0.3s;
}
.ht_btn:hover{
  background-color: transparent;
  border: 2px solid green;
  color: green;
  box-shadow: 0px 0px 0px 2px green;
}
a{text-decoration: none;}
img{max-width: 100%;}